@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}
input {
  margin-left: 8px;
  margin-right: 8px;
}
button {
  margin-top: 8px;
}
